<html>
<head>
  <title>udraw capi</title>
  <meta http-equiv="refresh" content="3;URL='https://udraw.me/'" />
</head>
<body>
  <h1>Welcome to the udraw cAPI</h1>
  <p><em>An HTTP2 enabled tile server</em></p>
  <h3>Interesting facts</h3>
  <h4>Environment: <%= @environment -%></h4>
  <h4>Osfamily: <%= @osfamily -%> <%= @lsbdistdescription -%></h4>
  <h4>Osfamily: <%= @osfamily -%></h4>
  <h4>BIOS Vendor: <%= @bios_vendor -%></h4>
  <h4>IPv6 Address: <%= @ipaddress6 -%></h4>
</body>
</html>